<!doctype html>
<html>
<head>
	<style>
		body {background-color: rgb({{ mainTemp}}); font-family: Helvetica; text-align: center; }
		h1   {color:Black}
		p    {color:Black}
	</style>
<title>Hello from Flask</title>
</head>
  <body>
    <h1>Mike's Simple Weather Search</h1>
    <form action="/search" method="POST" name="search">
        <p>
            Enter your Zip Code: <br />
            <input type="text" name="zip" />
        </p>
        <p><input type="submit" value="Search"></p>
    </form>
    <h3>The Temp is {{ temp }}</h3>
<br>
{% block content %}{% endblock %}

  </body>
</html>